- var amp = "&times"

doctype html
html(lang="de")
  head
    base(href="/")
    title= "Login Server Mechatronik"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- include links.pug
    link(rel="stylesheet", href="/node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/node_modules/font-awesome/css/font-awesome.min.css")
    include login-style.pug
    script(type='text/javascript') 
      | function togglePasswordVisibility () {
      |   let iPw = document.getElementById('input-password');
      |   let bEye = document.getElementById('button-eye');
      |   let bEyeSlash = document.getElementById('button-eye-slash');
      |   if (iPw && bEye && bEyeSlash) {
      |     // setting type is not working with Internet Explorer
      |     if (iPw.type === 'password') {
      |       iPw.type = 'text';
      |       bEye.style.display = 'none';
      |       bEyeSlash.style.display = 'block';
      |     } else if (iPw.type === 'text') {
      |       iPw.type = 'password';
      |       bEye.style.display = 'block';
      |       bEyeSlash.style.display = 'none';
      |     }
      |   }
      | }
    if msg 
      script(src="node_modules/jquery/dist/jquery.min.js")
      script(src="node_modules/bootstrap/js/alert.js")
    if waitTime    
      script(type='text/javascript') 
        | function onload () { countdown(); }
        | function countdown () {
        |   let obj = document.getElementById('waitTime');
        |   let button = document.getElementById('signin-button');
        |   if (obj && !isNaN(obj.innerHTML)) {
        |     remaining = +obj.innerHTML;
        |     if (remaining <= 1) {
        |       obj.parentElement.remove();
        |       if (button)
        |         button.disabled = false;
        |     } else {
        |       obj.innerHTML = remaining - 1;
        |       if (button)
        |         button.disabled = true;
        |       setTimeout( function(){ countdown(); }, 1000);
        |     }
        |   }
        | }
    else if showSize
      script(type='text/javascript') 
        | function onload () {
        |   window.onresize = displayWindowSize;
        |   window.onreload = displayWindowSize;
        |   displayWindowSize();
        | }
        | function displayWindowSize () {
        |   let sizeObj = document.getElementById('screen-size');
        |   if (sizeObj) {
        |     let w = 0, h = 0;
        |     if (typeof(window.innerWidth) == 'number' ) {
        |       w = window.innerWidth; 
        |       h = window.innerHeight;
        |     }
        |     sizeObj.innerHTML = w + ' x ' + h;
        |   }          
        | }
    else
      script(type='text/javascript') 
        | function onload () {}
  body(onload="JavaScript:onload();")
    script(type='text/javascript')
      | window.__theme = 'bs4';
    .container.header(style="text-align:center")
      if showSize
        p#screen-size 
      img.img-responsive.center-block(src="public/logo.svg",alt="Logo")
      if servername
        h1 #{servername}
    .container
      form.form-signin(action="/login" method="post")
        if msg
          .alert.alert-danger.alert-dismissible(role="alert")
            button.close(type="button" data-dismiss="alert" aria-label="Close")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            each val,index in msg
              div
                if index = 1            
                  span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
                  span.sr-only 
                =' ' + val
        if waitTime
          .alert.alert-warning(role="warning")
            span.glyphicon.glyphicon-info-sign(aria-hidden="true")
            span.sr-only 
            =' Bitte '
            span#waitTime
              =waitTime
            =' Sekunden warten!'
        h2.form-signin-heading #{title}
        label.sr-only(for="inputHtlid")
          = 'HTL-ID'
        if htlid
          input.form-control(type="text" name="htlid" placeholder="HTL-ID" required value=htlid) 
          label.sr-only(for="inputPassword")
            = 'Password'
          input.form-control(type="password" name="password" placeholder="Password" required autofocus)
        else
          div.form-group
            input#input-htlid.form-control(type="text" name="htlid" placeholder="HTL-ID" required autofocus)
          div.form-group.input-group
            label.sr-only(for="inputPassword")
              = 'Password'
            input#input-password.form-control(type="password" name="password" placeholder="Password" required)
            if showButtonPasswordEye
              span.input-group-btn
                button#button-eye.btn.btn-secondary(type="button", style="display:block" onClick='togglePasswordVisibility()')
                  i.fa.fa-eye
                button#button-eye-slash.btn.btn-secondary(type="button", style="display:none" onClick='togglePasswordVisibility()')
                  i.fa.fa-eye-slash
        if checkbox && checkbox.visible 
          .checkbox
            label
              input(type="checkbox" value=checkbox.text checked=checkbox.checked style="margin-right:0.25em")
              = checkbox.text
        button.btn.btn-lg.btn-primary.btn-block#signin-button(type="submit")
          = 'Anmelden'
